body {
	background-image: url("https://th.bing.com/th/id/OIP.g9crfYHmKsRKbkDdh3jU3QHaEo?w=273&h=180&c=7&r=0&o=5&pid=1.7");
	background-repeat: no-repeat;
	background-color: black;
    background-position: bottom;
	background-size: cover;
	height: 100vh;
	overflow: hidden;

}
.div-0{
    width: 1300px;
    height: 759px;
    margin: 0 auto;
    margin-top: 10vh;
    position: relative;
    border: 10px solid black;
}
.div-1{
    z-index: 50;
    position: absolute;
}
.div-2{
    z-index: 25;
    position: absolute;
}
.img-1{
    height: 500px;
}
.div-1:hover{
    z-index: 1;
}
.div-2:hover{
    z-index: 70;
}
.florentino{
    position: fixed;
    z-index: 300;
    width: 100px;
    right: 285px;
    height: 100px;
    border: 5px solid white;
    object-fit: cover;
}

/* money animation */
.money1{
    top: 20px;
    right: 0;
    width:100px;
    position: absolute;
    z-index: 200;
    animation: mymove 5s infinite;
}
.money2{
    top: 20px;
    right: 0;
    width:100px;
    position: absolute;
    z-index: 200;
    animation: mymove 5s infinite;
    animation-delay: 0.5s;
}
.money3{
    top: 20px;
    right: 0;
    width:100px;
    position: absolute;
    z-index: 200;
    animation: mymove 5s infinite;
    animation-delay: 1s;
}
.money4{
    top: 20px;
    right: 0;
    width:100px;
    position: absolute;
    z-index: 200;
    animation: mymove 5s infinite;
    animation-delay: 1.5s;
}
.money5{
    top: 20px;
    right: 0;
    width:100px;
    position: absolute;
    z-index: 200;
    animation: mymove 5s infinite;
    animation-delay: 2s;
}
.money6{
    top: 20px;
    right: 0;
    width:100px;
    position: absolute;
    z-index: 200;
    animation: mymove 5s infinite;
    animation-delay: 2.5s;
}
.money7{
    top: 20px;
    right: 0;
    width:100px;
    position: absolute;
    z-index: 200;
    animation: mymove 5s infinite;
    animation-delay: 3s;
}
.money8{
    top: 20px;
    right: 0;
    width:100px;
    position: absolute;
    z-index: 200;
    animation: mymove 5s infinite;
    animation-delay: 3.5s;
}
@keyframes mymove{
    from{right: 0;}
    to{right: 700px;}
}
/* .money22{
    top: 20px;
    left: 500px;
    width:100px;
    position: absolute;
    z-index: 200;
} */